		/* fonts */

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSansRegular.woff');
	src: local('OpenSansBold'), local('OpenSansBold'),
		url('../fonts/OpenSansRegular.woff') format('woff'),
    url('../fonts/OpenSansRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSansSemiBold.woff');
	src: local('OpenSansBold'), local('OpenSansBold'),
		url('../fonts/OpenSansSemiBold.woff') format('woff'),
    url('../fonts/OpenSansSemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSansBold.woff');
	src: local('OpenSansBold'), local('OpenSansBold'),
		url('../fonts/OpenSansBold.woff') format('woff'),
    url('../fonts/OpenSansBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}
/* //////////////////////////////////////////////////////////////// */

		/* Common styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ol, ul {
	padding: 0;
	list-style: none;
}

button {
	cursor: pointer;
}


.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

.flex {
	display: flex;
}

/* //////////////////////////////////////////////////////////////// */

		/* Header */


.header {
	background-color: #000;
}

.header__container {

}

.header__container {
	justify-content: space-between;
}

.header__list {
	justify-content: space-between;
}

.header-item__link {
	color: #fff;
}

.header__button {
	min-width: 30px;
}

/* //////////////////////////////////////////////////////////////// */

		/* Hero */


.hero {
	background-image: url(../img/02_home/home.jpg);
}

.hero__container {

}





/* //////////////////////////////////////////////////////////////// */

		/* Aboutus */



/* //////////////////////////////////////////////////////////////// */

		/* Gallery */

.gallery {
	background-image: url(../img/04_gallery/gallery-background.jpg);
}

.gallery__container {

}


/* //////////////////////////////////////////////////////////////// */

		/* Catalog */

.catalog__list {
	flex-direction: column;
}

.catalog-item__img {
	max-height: 470px;
}

.catalog-item__text {
	flex-direction: column;
}


/* //////////////////////////////////////////////////////////////// */

		/* Events */

.events-item__article {
	border: #cacaca 1px solid;
}

.events-item__text {
	flex-direction: column;
}


/* //////////////////////////////////////////////////////////////// */

		/* Projects */





/* //////////////////////////////////////////////////////////////// */

		/* Contacts */

.contacts__container {

}


/* //////////////////////////////////////////////////////////////// */

		/* footer */

.footer {
	background-color: #000;
}

.footer__container {

}
